body{
    background-color: black;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: cursive;
    color: white;
}

#img1{ 
    border-radius: 50px;
}